.vagrant
.project
.settings
.vs
*.log
*.bak
*.sln
*.suo
*.njsproj
playbook.retry
coverage
node_modules
localtime-converter/app/bundle.js
localtime-converter/tmp
localtime-converter/out
localtime-converter/obj
localtime-converter/bin
!.gitkeep
