<div class="panel panel-default">
  <div class="panel-heading" i18n>{{ "CONVERT_FORM_TITLE" }}</div>
  <div class="panel-body">
    <div>{{ "CONVERT_FORM_BODY" }}</div>
    <form #f="ngForm" novalidate>
      <fieldset class="form-group">
        <input type="text" name="date" [(ngModel)]="form.date" #date="ngModel" (ngModelChange)="convert()" required valid-date />
        <span [ngSwitch]="result.createdBy">
          <span *ngSwitchCase="dateString">({{ "DATE_STRING" }}, {{ offset }} {{ abbr }})</span>
          <span *ngSwitchCase="unixtime">({{ "UNIXTIME" }})</span>
          <span *ngSwitchCase="unixms">({{ "UNIXMS" }})</span>
        </span>
        <div class="warning" *ngIf="date.errors">
          <div [hidden]="date.errors.required">{{ "CONVERT_FORM_REQUIRED" }}</div>
          <div [hidden]="date.errors.validDate">{{ "CONVERT_FORM_INVALID" }}</div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label for="form.timezone">{{ "TIMEZONE" }}:</label>
        <select id="form.timezone" name="timezone" [(ngModel)]="form.timezone" #timezone="ngModel" (change)="convert()">
          <option *ngFor="let tz of timezones" [value]="tz">{{ tz }}</option>
        </select>
        <button type="button" class="btn btn-warning btn-sm" (click)="reset()">{{ "RESET" }}</button>
      </fieldset>
      <small><a href="{{ 'CONVERT_FORM_NOTE_URL' }}">{{ "CONVERT_FORM_NOTE" }}</a></small>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">{{ "CONVERT_FORM_RESULT" }}</div>
  <table class="table">
    <tbody>
      <tr>
        <th>{{ "UNIXTIME" }}</th>
        <td>{{ result.unixtime }}</td>
      </tr>
      <tr>
        <th>{{ "UTCTIME" }}</th>
        <td>{{ result.utctime }}</td>
      </tr>
      <tr>
        <th>{{ "LOCALTIME" }}</th>
        <td>{{ result.localtime }}</td>
      </tr>
      <tr>
        <th>{{ "ISO8601" }}</th>
        <td>{{ result.date.toISOString() }}</td>
      </tr>
      <tr>
        <th>{{ "TIMEZONE" }}</th>
        <td>{{ result.offset }} {{ result.abbr }}</td>
      </tr>
    </tbody>
  </table>
</div>