<div class="panel panel-default">
  <div class="panel-heading" i18n>{{ "CONVERT_FORM_TITLE" }}</div>
  <div class="panel-body">
    <div>{{ "CONVERT_FORM_BODY" }}</div>
    <form name="convertForm" novalidate>
      <fieldset class="form-group">
        <input type="text" name="form.date" ng-model="form.date" ng-change="!convertForm.$invalid && convert()" validate-date required />
        <span ng-switch="result.createdBy">
          <span ng-switch-when="dateString">({{ "DATE_STRING" }}, {{ offset }} {{ abbr }})</span>
          <span ng-switch-when="unixtime">({{ "UNIXTIME" }})</span>
          <span ng-switch-when="unixms">({{ "UNIXMS" }})</span>
        </span>
        <div class="warning" ng-show="convertForm['form.date'].$error.required">{{ "CONVERT_FORM_REQUIRED" }}</div>
        <div class="warning" ng-show="convertForm['form.date'].$error.validateDate">{{ "CONVERT_FORM_INVALID" }}</div>
      </fieldset>
      <fieldset class="form-group">
        <label for="form.timezone">{{ "TIMEZONE" }}:</label>
        <select id="form.timezone" ng-model="form.timezone" ng-change="!convertForm.$invalid && convert()">
          <option ng-repeat="tz in timezones">{{ tz }}</option>
        </select>
        <!--<button type="button" class="btn btn-warning btn-sm" ng-click="reset()">{{ "RESET" }}</button>-->
      </fieldset>
      <small><a href="{{ 'CONVERT_FORM_NOTE_URL' }}">{{ "CONVERT_FORM_NOTE" }}</a></small>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">{{ "CONVERT_FORM_RESULT" }}</div>
  <table class="table">
    <tbody>
      <tr>
        <th>{{ "UNIXTIME" }}</th>
        <td>{{ result.unixtime }}</td>
      </tr>
      <tr>
        <th>{{ "UTCTIME" }}</th>
        <td>{{ result.date | date:'medium':'UTC' }}</td>
      </tr>
      <tr>
        <th>{{ "LOCALTIME" }}</th>
        <td>{{ result.date | date:'medium':result.offset }}</td>
      </tr>
      <tr>
        <th>{{ "ISO8601" }}</th>
        <td>{{ result.date.toISOString() }}</td>
      </tr>
      <tr>
        <th>{{ "TIMEZONE" }}</th>
        <td>{{ result.offset }} {{ result.abbr }}</td>
      </tr>
    </tbody>
  </table>
</div>